*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }

body{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    margin: 0 auto;
    margin-top: -7%;
 position: fixed;
}
header{
    height: 150px;
    background-color:yellowgreen;
    
}
nav{
    height: 60px;
    background-color:beige;
    
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    float: left;
}
nav ul a{
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    height: 50px ;
    width: 192px ;
    line-height: 50px;
    font-size:larger
}
nav ul a:hover{
    background-color: yellowgreen;
}
nav ul li:hover > ul {
    visibility: visible;
}
nav ul ul {
    position: absolute;
    background-color: beige;
    visibility: hidden;
}
nav ul ul ul {
    margin-left: 192px;
    margin-top: -50px;
}
nav ul ul li{
    float: none;
}

main {
    padding: 200px;
  }

  /* ----------------------home----------------------- */

  .front-pic img
  {
   
      height: 100%;
      width: 100%;
      
  }

/* ------------------------About --------------------*/

.about img
{
    margin-top: -1%;
    height: 3%;
width: 100%;
}

.about h1
{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    position: relative;
    
}

.about h3
{
    text-align: center;
    line-height: 200%;
}

.about p
{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.about h1 span
{
    color:yellowgreen ;
    margin-right: 15px;
    font-family: mv boli;

    
}

/* .about h1 span::after
{
    content: '';
    width: 100%;
    height: 2px;
    background: orangered;
    display: block;
    position: relative;
    bottom: 10px;
} */



/* ---------------------------------Hairstyle------------------------------------------------- */

.menu
{
    width: 100%;
    padding: 70px 0px;
    margin-top: 5%;
}

.menu h1
{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu h1 span
{
    color:yellowgreen;
    margin-left: 15px;
    font-family: mv boli;
}

/* .menu h1 span::after
{
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(170, 0, 0);
    display: block;
    position: relative;
    bottom: 10px;
} */

.menu .menu-box
{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-gap:15px;
    margin-left: 4%;
    margin-right: 4%;
}

.menu .menu-box .menu-card
{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu-box .menu-card .menu-image
{
    width:300 ;
    height:245 ;
    margin:0 auto ;
    overflow: hidden;
}


.menu .menu-box .menu-card .menu-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu-box .menu-card .menu-image:hover img
{
    transform: scale(1.1);
}

.menu .menu-box .menu-card .menu-info h2
{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color:rgb(170, 0, 0); 
}

.menu .menu-box .menu-card .menu-info p
{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu-box .menu-card .menu-info h3
{
    text-align: center;
    margin-top: 10px;
}

.menu .menu-box .menu-card .menu-info .menu-icon
{
    text-align: center;
    margin:10px 0 20px 0;
    
}

.menu .menu-box .menu-card .menu-info .menu-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: black;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}

/* -------------------------------------------------------------gallery----------------------------------------------------------------- */



.gallary
{
    /* margin-top: 0%; */
    width: 100%;
    padding: 70px 0 ;
}
.gallary h1
{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallary h1 span
{
 margin-left: 15px;
 color: yellowgreen;
 font-family: mv boli;   
}
.gallary h1 span::after
{
  content: '';
  width: 100%;
  height: 2px;
  background: yellowgreen;
  display: block;
  position: relative;
  bottom: 15px; 
}
.gallary .gallary_image_box
{
   width: 95%;
   margin: 10px auto;
   display: grid; 
   grid-template-columns:  1fr 1fr 1fr;
   grid-gap: 10px;
}
.gallary .gallary_image_box .gallary_image
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.gallary .gallary_image_box .gallary_image img
{
    width: 100%;
    transition: 0.3s;
    

}
.gallary .gallary_image_box .gallary_image:hover img
{
    opacity: 0.4;

}
.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: yellowgreen;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transform: 0.3s;
}
.gallary .gallary_image_box .gallary_image:hover h3{
  opacity: 1;  
}
.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 300px;
    margin-top: 30px;
    text-align: center;
    color: black;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
    

}
.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}
.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: white;
    background: yellowgreen;
    padding: 7px 22px;
    text-decoration: none;
    opacity: 1;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}
.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
   opacity: 1;
   transform: translateY(0); 
}

/* ------------------------Footer------------------------------- */
  footer {
    background-color:beige;
    color: black;
    text-align: center;
    padding: 50px;
  }
  p{
    font-size: larger;
  }